<div>
  <div
    style="
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    "
  >
    <span>
      <img
        style="width: 220px; margin: 25px auto 0;"
        src="../../assets/logo.jpg"
    /></span>
    <div style="width: 220px; margin: 25px auto 0;">
      <form>
        <fieldset>
          <span>
            <input type="text" placeholder="아이디" />
            <p>아이디를 입력해주세요</p>
          </span>
          <span>
            <input type="text" placeholder="비밀번호" />
            <p>비밀번호를 입력해주세요</p>
            <p>로그인 정보를 확인해주세요</p>
          </span>
          <button type="button" style="width: 100%;">
            <span>로그인</span>
          </button>
          <input type="checkbox" id="rememberId" />
          <label for="rememberId"><span>아이디 기억하기</span></label>
        </fieldset>
      </form>
    </div>
  </div>
</div>
